@import "mixins";
@import "vars";

.row.contact {
  display: flex;
  background: url("../img/contact_bg.png");
  background-size: cover;
  padding-bottom: 10vh;
  .section-header {
    color: $silver-color;
  }
  .contact-section {
    max-width: 1280px;
    margin: auto;
    padding-top: 10vh;
    padding-bottom: 5vh;
  }
  .social-icons {
    a {
      .icon-main {
        color: $dark-grey-color;
        z-index: 10;
      }
      .icon-background {
        color: $silver-color;
      }
      &:hover {
        .icon-main {
          color: $dark-grey-color;
        }
        .icon-background {
          color: $gold-color;
        }
      }
    }
  }

  .send-email {
    form>input[type="text"],textarea {
      background-color: transparentize(black, .75);
      border: none;
      width: 100%;
      padding: 5px;
      @include font-size(40px);
      margin-bottom: 10px;
      color: $silver-color;
    }
  }

  .button-align {
    width: 100%;
    text-align: right;
  }
}

@media(max-width:767px) {
  .row.contact {
    text-align: center;
    .col-lg-12 {
      width: 100%;
    }
    .send-email {
      padding-top: 50px;
      form>input[type="text"],textarea {
        @include font-size(25px);
        margin-bottom: 10px;
        color: $silver-color;
      }
    }

    .button-align {
      width: 100%;
      text-align:center;
    }
  }
}
