@import "mixins";
@import "vars";

// Header Section
.row.gold-and-blockchain {
  background: url("../img/gold-and-blockchain_bg.png");
  background-size: cover;
  display: flex;
  padding-top: 230px;

  .col-lg-12 {
    max-width: 1280px;
    margin: auto;
  }

  .section{
    padding-left: 2rem;
    padding-right: 2rem;
    .section-img {
      text-align: center;
      img{
        width: 60%;
        padding-top: 10vh;
        padding-bottom: 5vh;
      }
    }
    .section-text {
      padding-bottom: 10vh;
      h2 {
        text-align: center;
        color: $dark-blue-color;
      }
      p {
        color: $dark-blue-color;
        font-weight: normal;
      }
    }
  }
}
