@import "mixins";
@import "vars";

.row.partners {
  background: white;
  .partners.img-grp {
    padding-top: 10vh;
    padding-bottom: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: auto;
    img {
        width: 25%;
        max-width: 90%;
        padding-left: 5%;

        transition: filter 0.5s;

        -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
        filter: grayscale(100%);
        &:hover{
          -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
          filter: grayscale(0%);
        }
      }
  }

}
