@import "mixins";
@import "vars";

.row.products {
  .col-lg-12 {
    padding: 0px;
  }
}

.carousel-fade {
  padding-top: 10vh;
  padding-bottom: 10vh;
  min-height: 80vh;
  background: url('../img/carousel_bg.png');
  background-size: cover;
    .carousel-inner {
        .item {
            transition-property: opacity;
        }

        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
        @include font-size(150px);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.carousel,
.carousel-inner,
.carousel-inner .item {
    height: 100%;
}
