@import "mixins";
@import "vars";

.row.products {
  .col-lg-12 {
    padding: 0px;
  }
}

.carousel-fade {
  padding-top: 10vh;
  padding-bottom: 10vh;
  min-height: 80vh;
  background: url('../img/carousel_bg.png');
  background-size: cover;
    .carousel-inner {
        .item {
            transition-property: opacity;
        }

        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
        @include font-size(150px);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.carousel,
.carousel-inner,
.carousel-inner .item {
    height: 100%;
    .carousel-img {
      text-align: right;

      display: flex !important;
      align-items: center;

      img {
        max-width: 100%;
        max-height: 100%;
        max-width: 400px;
      }
    }
    .carousel-text {
      h2 {
        display: block;
      }
      display: flex !important;
      align-items: center;
      flex-wrap: wrap;
    }
}

.item {
  opacity: 0;
  position: absolute;
  transition: opacity 0.5s;

  &.active {
    opacity: 1;
  }

}

@media(max-width:767px) {
  .carousel-fade {
    min-height: 120vh;
    .carousel-control {
      align-items: baseline;
      padding-top: 85px;
    }
    .carousel-inner .item {
      .carousel-img {
        img {
          max-width: 200px;
          margin: auto;
        }
      }
    }
  }
}
