$font-stack: 'Lato', Helvetica, Arial, sans-serif;

$gold-color: #E5C876;
$dark-gold-color: #B98628;
$silver-color: #EDEDED;
$dark-silver-color: #ABABAE;
$blue-color: #0E76BC;
$dark-blue-color: #141B2F;
$dark-grey-color: #25272C;
