@import "product-carousel";
@import "mixins";
@import "vars";

@import "header";
@import "gold-and-blockchain";
@import "features";
@import "press-release";
@import "partners";
@import "contact";

@import "tech";
@import "security";
@import "about";

/* GENERAL STYLES */
body {
    width: 100%;
    font-family: $font-stack;
    background: $dark-blue-color;
}

.container {
  width: 100%;
}

h1, h2, h3, h4, h5, h6, p, li {
  font-weight: bold;
  color: $silver-color;
}

h1 {
  @include font-size(70px);
}

p, li {
  @include font-size(30px);
  font-weight: lighter;
}

.gold-text {
  color: $gold-color;
}

.silver-text {
  color: $silver-color;
}

.button {
  border-radius: 0px;
  margin: 20px;
  border-width: medium;
  background: transparent;
  text-transform: uppercase;
  font-weight: bold;
  @include font-size(30px);
  color: white;
  padding: 10px 20px 10px 20px;
  border-color: white;
  border-style: solid;
  transition: color 0.2s, background-color 0.2s;
  &:hover {
    text-decoration: none;
  }

  &.button-gold {
    color: $gold-color;
    border-color: $gold-color;
    &:hover {
      background: $gold-color;
      color: $dark-blue-color;
    }
  }
  &.button-silver {
    color: $silver-color;
    border-color: $silver-color;
    &:hover {
      background: $silver-color;
      color: $dark-grey-color;
    }
  }
  &.button-blue {
    color: $blue-color;
    border-color: $blue-color;
    &:hover {
      background: $blue-color;
      color: $silver-color;
    }
  }

}

.section-header{
  width: 100%;
  text-align: center;
  position: absolute;
  padding-top: 3vh;
  z-index: 10;
  @include font-size(50px);
  font-weight: bold;
}

// Navigation styles

.navbar-fixed-top .nav {
    padding: 30px 30px;
}

.navbar-fixed-top .navbar-brand {
    padding: 30px 30px;
    transition: padding 0.25s;

    .nav-logo {
      height: 75px;
      transition: height 0.25s;
    }

}

.navbar-inverse {
  background-color: transparent;
  border-color: transparent;
  transition: padding 0.5s, background-color 0.5s;
  &.scroll {
    background-color: black;
    .nav-logo {
      height: 50px;
    }
    .navbar-right {
      padding: 15px 30px;
    }
    .navbar-brand {
      padding: 15px 30px;
    }
  }
}

.navbar-collapse>ul>li>a {
  @include font-size(40px);
}

.row.video {
  .videoWrapper {
	position: relative;
	padding-bottom: 432px; /* 16:9 */
	padding-top: 25px;
	height: 0;
  margin: auto;
  max-width: 768px;
  max-height: 450px;
  margin-top: -230px;
  margin-bottom: -230px;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
}




/* STYLES AND LAYOUT FOR DESKTOP VIEW */
@media(min-width:768px) {
    body {

    }

    .navbar-fixed-top .navbar-brand {
        padding: 30px 30px;
    }
}

/* STYLES AND LAYOUT FO MOBILE VIEW */
@media(max-width:767px) {
  h1, h2, h3, h4, h5, h6, p, li, .hero-text.gold-text h2, .hero-text.silver-text h2, .section-header {
    @include font-size(30px);
  }
  p, li , p.hero-text {
    font-size: 16px !important;
    @include font-size(25px) ;
  }

  .button {
    font-size: 14px !important;
    border: 2px solid;
  }
  .call-to-action {
      font-size: 14px !important;
  }


  .navbar-fixed-top .navbar-brand {
      padding-top: 15px;
      padding-left: 15px;
      padding-bottom: 30px;

      .nav-logo {
        height: 38px;
      }

  }

  .navbar-collapse {
    background: black;
  }

  .navbar-toggle {
    margin-top: 20px;
    right: 20px;
    border: none;
  }

  .row.video {
    .videoWrapper {
  	position: relative;
  	padding-bottom: 56.25%; /* 16:9 */
  	padding-top: 25px;
  	height: 0;
  }
  .videoWrapper iframe {
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  }
  }

}
