@import "product-carousel";
@import "mixins";
@import "vars";

@import "header";
@import "gold-and-blockchain";
@import "features";
@import "press-release";
@import "partners";
@import "contact";

/* GENERAL STYLES */
body {
    width: 100%;
    font-family: $font-stack;
    background: $dark-blue-color;
}

.container {
  width: 100%;
}

h1, h2, h3, h4, h5, h6, p, li {
  font-weight: bold;
  color: $silver-color;
}

p, li {
  @include font-size(30px);
  font-weight: lighter;
}

.gold-text {
  color: $gold-color;
}

.silver-text {
  color: $silver-color;
}

.button {
  border-radius: 0px;
  margin: 20px;
  border-width: medium;
  background: transparent;
  text-transform: uppercase;
  font-weight: bold;
  @include font-size(30px);
  color: white;
  padding: 10px 20px 10px 20px;
  border-color: white;
  border-style: solid;
  transition: color 0.2s, background-color 0.2s;

  &.button-gold {
    color: $gold-color;
    border-color: $gold-color;
    &:hover {
      background: $gold-color;
      color: $dark-blue-color;
    }
  }
  &.button-silver {
    color: $silver-color;
    border-color: $silver-color;
    &:hover {
      background: $silver-color;
      color: $dark-grey-color;
    }
  }
  &.button-blue {
    color: $blue-color;
    border-color: $blue-color;
    &:hover {
      background: $blue-color;
      color: $silver-color;
    }
  }

}

.section-header{
  width: 100%;
  text-align: center;
  position: absolute;
  padding-top: 3vh;
  z-index: 10;
  @include font-size(50px);
  font-weight: bold;
}

// Navigation styles

.navbar-fixed-top .nav {
    padding: 30px 30px;
}

.navbar-fixed-top .navbar-brand {
    padding: 30px 30px;
    transition: padding 0.25s;

    .nav-logo {
      height: 75px;
      transition: height 0.25s;
    }

}

.navbar-inverse {
  background-color: transparent;
  border-color: transparent;
  transition: padding 0.5s, background-color 0.5s;
  &.scroll {
    background-color: black;
    .nav-logo {
      height: 50px;
    }
    .navbar-right {
      padding: 15px 30px;
    }
    .navbar-brand {
      padding: 15px 30px;
    }
  }
}

.navbar-collapse>ul>li>a {
  @include font-size(40px);
}







/* STYLES AND LAYOUT FOR DESKTOP VIEW */
@media(min-width:768px) {
    body {

    }

    .navbar-fixed-top .navbar-brand {
        padding: 30px 30px;
    }
}

/* STYLES AND LAYOUT FO MOBILE VIEW */
@media(max-width:767px) {
  .navbar-fixed-top .navbar-brand {
      padding-top: 15px;
      padding-left: 15px;
      padding-bottom: 30px;

      .nav-logo {
        height: 38px;
      }

  }

  .navbar-collapse {
    background: black;
  }

  .navbar-toggle {
    margin-top: 20px;
    right: 20px;
    border: none;
  }
}
